<!-- <body> -->
<!-- <div class="ganesh">
    <div class="logbox">

      <div class="logbox">
        <h1>welcome</h1>
        <h5>Log in to Your Acount continue</h5>
        <hr>


        username:<input type="text" placeholder="Please Enter Your UserName"class = "">
        password:<input type="password" placeholder="">
        <button>login</button>



      </div>
    </div>
  </div> -->

<!-- </body> -->


<div class="ganesh">
  <h2 style="display: flex;justify-content: center;padding-top: 7%;">WELCOME</h2>
  <p style="display: flex;justify-content: center;">log in to your account to continue </p>
  <form action="/action_page.php" method="post">


    <div class="container" style="display: flex;justify-content: center;">
      <input type="text" placeholder="Enter Username" name="uname" required>
    </div>
    <div class="container" style="display: flex;justify-content: center;">
      <input type="text" placeholder="Enter Password" name="psw" required>
    </div>
    <div class="container" style="display: flex;margin-left: 60%;">
      <p>
        <a href="forgot password">forgot password</a>
      </p>
    </div>
    <div class="container" style="display: flex;justify-content: center;">
      <button type="submit">Login</button>
    </div>
    <div class="container" style="display: flex;justify-content: center;">
      <p>
        don't have account<a> sign up</a>
      </p>
    </div>
    <div class="container" style="display: flex;margin-left: 35%;">
      <p style="margin: 20px;"> <i class="fa fa-facebook-f" style="font-size:36px"></i></p>
      <P style="margin: 20px;"><i class="fa fa-twitter" style="font-size:36px"></i>
      </P>
      <P  style="margin: 20px;"><i style="font-size:36px" class="fa">&#xf08c;</i>
      </P>
    </div>
  </form>
</div>